version: "3"
services:
  graph-node:
    image: graphprotocol/graph-node:v0.26.0-prerelease.0
    ports:
      - "8000:8000"
      - "8001:8001"
      - "8020:8020"
      - "8030:8030"
      - "8040:8040"
    depends_on:
      - ipfs
      - postgres
    environment:
      postgres_host: postgres
      postgres_user: graph-node
      postgres_pass: let-me-in
      postgres_db: graph-node
      ipfs: "ipfs:5001"
      # Change next line if you want to connect to a different JSON-RPC endpoint
      ethereum: "mainnet:https://eth-mainnet.alchemyapi.io/v2/3ac3TuWDMPgXQKUypAZLl-XWaMUFh3rV"
      GRAPH_LOG: info
  ipfs:
    image: ipfs/go-ipfs:v0.12.1
    ports:
      - "5001:5001"
    volumes:
      - ./data/ipfs:/data/ipfs
  postgres:
    image: postgres
    expose:
      - "5432"
    command: ["postgres", "-cshared_preload_libraries=pg_stat_statements"]
    environment:
      POSTGRES_USER: graph-node
      POSTGRES_PASSWORD: let-me-in
      POSTGRES_DB: graph-node
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
